*
{
    margin: 0;
    padding: 0;
}

header
{
    height: 80px;
    background-color: rgb(245, 66,66);
}

nav
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
}

.main_pages
{
    background-color: purple;
    display: flex;
    align-items: center;
}
.logoLomography
{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutonConnexion
{
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.main_pages a
{
    text-decoration: none;
    color: white;
}
/* .logoLomography a
{
    display: flex;
    justify-content: space-around;
} */
.logoLomography img
{
    height: 40px;
}